<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Créer un employé</title>
</head>
<body>
    <h2>Créer un employé</h2>

    <form method="post" th:action="@{/saveEmployee}" th:object="${employee}">
        <label>Prénom :</label>
        <input type="text" th:field="*{firstName}" required><br>

        <label>Nom :</label>
        <input type="text" th:field="*{lastName}" required><br>

        <label>Email :</label>
        <input type="email" th:field="*{mail}" required><br>

        <label>Mot de passe :</label>
        <input type="password" th:field="*{password}" required><br>

        <button type="submit">Créer</button>
    </form>

    <p><a th:href="@{/}">Retour</a></p>
</body>
</html>
